@font-face {
    font-family: VT323;
    src: url(../../assets/fonts/VT323/VT323-Regular.ttf);
}

#display {
    width: 500px;
    height: auto;
    grid-area: screen;
    background-color: #132612;
}

#screen {
    width: 500px;
    height: 200px;
    color: #00FF66;
    font-family: VT323;
}