@import url(main-screen.css);
@import url(buttons/buttons.css);
@import url(screens/opacity-sreen.css);
@import url(screens/opacity-sreen.css);
@import url(screens/grid-screen.css);

#settings {
    display: grid;
    grid-template-areas: 
    'screen screen screen screen'
    'buttons buttons buttons grid'
    'mode mode mode grid'
    'power power power grid';
    height: 500px;
    gap: 5px;
}

#settings > div {
    padding: 10px;
    font-size: 20px;
}