#color-picker-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

#color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: 2px solid #696969;
    outline: 3px solid #909090;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.3);
}
#color-picker::-moz-color-swatch {
    border-radius: 50%;
    border: none;
}